*{
    box-sizing: border-box;
}
/*===母層===*/
.box{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* 1fr 1fr 1fr 1fr 2fr 分母6 */
    /* column-gap: 5px; */
    /* row-gap: 5px; */
    gap: 0.2vw;
    grid-template-areas: 'b1 b1 b1 b2' 'b1 b1 b1 .' 'b3 b3 . .';
}


/*===子層===*/
.box div{
    text-align: center;
    font-size: 30px;
    padding: 50px;
}

.b1{
    background-color:#F8B9BA;
    /* grid-column-start: 1; */
    /* grid-column-end: 4; */
    /* grid-column: 1/span 2; */
    grid-area: b1;
}
.b2{
    background-color: #FFD6BB;
    grid-area: b2;
}
.b3{
    background-color: #FFF9AA;
    grid-area: b3;
}
.b4{background-color:#DDFFA3;}
.b5{background-color:#9DEF9A;}
.b6{
    background-color:#7AD3A8;
    /* grid-row-start: 2; */
    /* grid-row-end: 4; */
    /* grid-row: 2/4; */
}
.b7{background-color:#8BDFDD;}
.b8{background-color:#8FBAED;}
.b9{background-color:#5071D9;}
.b10{background-color:#8778E5;}
.b11{background-color:#D187ED;}
.b12{background-color:#F495E2;}