.fixed {z-index: 1000;}

.content{
    position: relative;
    padding: 300px 100px;
 
}


.content h2 {
    padding: 10px;
}

.container{
    z-index: 500;
}

.content h4 {
    position: absolute;
    bottom: 200px;
    right: -300px;
    transform: scale(0.05);
    z-index: 800;
}

.box1{
    background-color: #fff;
    padding: 100px;

}